<div class="container">
  <h3>Notes</h3>
  <div class="row">
    <div class="col-md-4 mt-5">
        <div class="card"  *ngFor="let note of notes">
          <div class="card-body">
            <span class="glyphicon glyphicon-remove float-right" (click)="onRemoveNote(note.NoteId)"><b>X</b></span>
            <h5 class="card-title"> <u (click)="onEditNote(note)">{{ note.Title }} </u></h5>
            <p class="card-text">{{ note.Body }}</p>
          </div>
        </div>
    </div>
    <div class="col-md-8">
      <div class="float-right">
        <button type="button" class="btn btn-light border border-secondary" (click)="onAddNote()">Add Note</button>
      </div>
      <form class="mt-5" [formGroup]="noteForm" (ngSubmit)="onSave()">
        <div class="form-group">
          <label for="title"><b>Title:</b></label>
          <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title"formControlName="frmTitle"  
          [ngClass]="{'requiredField' : submitted && noteFormControls().frmTitle?.errors && noteFormControls().frmTitle?.errors?.required}">
        </div>
        <div class="form-group">
          <label for="body"><b>Body:</b></label>
          <textarea class="form-control" rows="8" id="comment" formControlName="frmBody"></textarea>
        </div>
        <button type="submit" class="btn btn-primary float-right">Save</button>
      </form>
    </div>
  </div>
</div>