<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h3>Login </h3>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="frmEmail" placeholder="Email">
        <small id="emailHelp" class="form-text text-muted" *ngIf="submitted && loginFormControl().frmEmail?.errors && loginFormControl().frmEmail?.errors?.required">
          Please enter email address
        </small>
        <small id="emailHelp" class="form-text text-muted" *ngIf="submitted && loginFormControl().frmEmail?.errors && loginFormControl().frmEmail?.errors?.pattern">
          Please enter a valid email address
        </small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="frmPassword" placeholder="Passsword">
        <small id="emailHelp" class="form-text text-muted" *ngIf="submitted && loginFormControl().frmPassword?.errors && loginFormControl().frmPassword?.errors?.required">
          Please enter password
        </small>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>